# LOCAL DIRECTORIES
matrix/*
extracted_docs/*
archives_other_thresholds/*
# fichier config débug de vscode
.vscode/*

# UNTRACKED PROJECTS
# multi_slide : un test de multiprocessing qui n'a pas abouti (avec numpy sur cpu)
multi_slide.py 

# clean_slide : un test de multiprocessing avec torch qui ne fonctionne pas ("computation placer already registered. Please check linkage and avoid linking the same target more than once.")
clean_slide.py

# np_version_slide : marche, est correct, a du multiprocessing, a les résultats identiques à slide.py, mais dure 2sc de plus que slide.py
# probablement parce que c'est entièrement sur cpu plutôt que sur gpu
np_version_slide.py

# batch_version_slide : marche, incorrect, utilise des batches pour paralléliser. "Incorrect" dans le sens que la distance cosinus n'est pas la même que celle calculée par model.similarity()
batch_version_slide.py

# from_npy_to_pt : transformer les matrices .npy déjà calculées pour ne pas refaire tourner model.encode
from_npy_to_pt.py

.idea